@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Space Grotesk', 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
  color: white;
  padding: 0px 150px;
}

.header ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.header a {
  text-decoration: none;
  color: white;
}

.header .left-links {
  font-size: 24px;
}

.banner {
  display: flex;
  background-image: linear-gradient(rgba(0, 65, 145, 0.6), rgba(0, 65, 145, 0.6)),
    url("./images/mondstadt-banner-background.png");
  background-size: cover;
  justify-content: space-between;
  /* background-color: #1F2937; */
  color: white;
  padding: 70px 150px;
}

.banner .left-content {
  margin-right: 50px;
}

.banner-heading {
  /** background-color: #F9FAF8; **/
  color: whitesmoke;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 35px;
}

.banner-subtext {
  color: whitesmoke;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 35px;
}

.banner button {
  background-color: #7485c2;
  color: white;
  font-family: 'Space Grotesk', 'Roboto', sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 5px 25px;
}

.banner .right-image {
  width: 500px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: lightslategrey;
}

.image-series-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px;
}

.image-series-header {
  color: #1F2937;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
}

.image-series {
  display: flex;
  justify-content: center;
  gap: 50px;
  font-weight: 700px;
}

.image-container {
  display: flex;
  flex-flow: column wrap;
  gap: 5px;
  width: 140px;
  align-items: center;
  text-align: center;
}

.image {
  width: 140px;
  height: 140px;
  border: 4px solid;
  border-color: #3882F6;
  border-radius: 18px;
}
